<!doctype html>

<html lang="en">

<head>
    <% if (htmlWebpackPlugin.options.trackJSToken) { %>
      <!-- BEGIN TRACKJS -->
      <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
      <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
      <!-- END TRACKJS -->
      <% } %>
  <meta charset="utf-8">

  <title>Env Test</title>
</head>

<body>
<h1>Hello Maria!!</h1>
<p>This is a table of users!!!!!</p>
</br>
<h2>Users</h2>
<table>
  <thead>
    <th>&nbsp;</th>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
  </thead>
  <tbody id="users">

  </tbody>
</table>
</body>

</html>
